.drop-down-menu {
  width: min-content;
}

.drop-down-menu > button {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.drop-down-menu > button:hover {
  background-color: rgb(229 229 229);
}

.drop-down-menu * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.drop-down-menu > ul {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: fit-content;
}

.hide {
  display: none;
}

.drop-down-menu li {
  padding: 5px;
  background-color: white;
  border: 0.5px solid lightgray;
  cursor: pointer;
}

.drop-down-menu li:hover {
  background-color: rgb(239 239 239);
}
